html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.field {
    position: relative;
    width: 60vh;
    height: 60vh;
    background-color: navajowhite;
}

.snake {
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 40%;
}

.snake-head {
    background-color: sienna;
}

.snake-tail {
    background-color: seagreen;
}
